@use "sass:color";

@import "styles/variables";

.container {
  border: 2px solid rgba($purple-600, 100%);
  background: rgba($purple-100, 100%);
  margin-top: -40px;
  margin-bottom: -40px;

  width: 100%;
  height: calc(100% + 40px);

  border-radius: 8px;

  cursor: default;
}

.label {
  position: absolute;
  top: 0px;
  left: 0;
  color: $base-0;
  height: $grid-size * 2;
  display: flex;
  align-items: center;
  border-radius: 8px 0 10px 0;
  transform: translateY(-100%);

  border: 0 none;
  border-bottom-width: 0;

  background: rgba($purple-600, 100%);
  padding: 0px 10px;
  font-size: 13px;
  white-space: nowrap;
  font-weight: 500;
  svg {
    color: rgba($purple-600, 100%);
    position: absolute;
  }
  svg:nth-child(2) {
    right: -10px;
    top: 1px;
  }
  svg:nth-child(3) {
    left: 2px;
    top: 39px;
  }
}

.handle {
  opacity: 0;
  width: 0;
  min-width: 0;
  height: 0;
  min-height: 0;
}

[data-theme="dark"] {
  .container {
    border: 2px solid rgba($purple-600, 100%);
    background: rgba($purple-600, 10%);
    border-radius: 10px;
  }
}
