.container {
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid var(--red-700);;
  background: var(--red-100);
  z-index: 100;
}

.label {
  position: absolute;
  top: -30px;
  left: 0;
  color: var(--red-500);
  border: 1px solid var(--red-700);;
  background: var(--red-100);
  border-radius: 4px;
  font-weight: bold;
  padding: 3px 5px;
  font-size: 14px;
  white-space: nowrap;
}

.toolbar {
  padding: 3px 5px;
  position: absolute;
  top: -30px;
  right: 0;
  background: black;
  border-radius: 4px;
}

.colorPicker {
  position: absolute;
  bottom: 0px;
  transform: translate(0, 130%);
}
