.default {
  background: var(--white);
  border: 1px solid var(--lime-500);
  font-size: 14px;
  padding: 0 8px;
  border-radius: 4px;
  color: rgb(79, 79, 79);
  height: 40px;
  line-height: 38px;
}

.selected {
  composes: default;
  box-shadow: 0 0 0 2px var(--lime-500);
}

.handle {
  opacity: 0;
  width: 0;
  height: 0;
}
