.default {
  background: var(--step-background-color);
  border: 1px solid var(--lime-500);
  font-size: 14px;
  padding: 0 8px;
  border-radius: 4px;
  color: var(--step-color);
  display: flex;
  align-items: center;
  height: 40px;
  transition-property: transform;
  transition-duration: 0.2s;
}

:global(.dragging) .default {
  /* Making it a bit bigger when dragging is nice and fun, but needs more tweaking */
  /* transform: scale(1.5) translate(0px,0px); */
}

.selected {
  box-shadow: 0 0 0 2px var(--lime-500);
}

[data-theme='dark'] .selected {
  box-shadow: 1px 1px 43px 10px rgba(204,51,207,0.46);
}

.handle {
  opacity: 0;
  width: 0;
  min-width: 0;
  height: 0;
  min-height: 0;
}
