$grid-size: 20px;

$base-0: #ffffff;
$base-1000: #000000;

$gray-100: #f8f8f8;
$gray-200: #f5f5f5;
$gray-300: #eeeeee;
$gray-400: #e5e5e5;
$gray-500: #dddddd;
$gray-600: #bbbbbb;
$gray-700: #aaaaaa;
$gray-800: #8e8e8e;
$gray-900: #888888;

$charcoal-300: #767676;
$charcoal-400: #555555;
$charcoal-500: #4f4f4f;
$charcoal-600: #444444;
$charcoal-700: #333333;
$charcoal-800: #222222;
$charcoal-900: #111111;

$slate-100: #f9fafb;
$slate-500: #c2cace;
$slate-800: #202632;
$slate-900: #151921;

$lime-100: #beead8;
$lime-500: #14cc80;
$lime-700: #00bb64;

$olive-500: #3d9970;
$olive-700: #078573;
$olive-800: #0e7868;

$aqua-100: #ddfffa;
$aqua-500: #6af0db;
$aqua-600: #39cccc;
$aqua-800: #238072;

$green-100: #fafdfa;
$green-400: #2ecc40;
$green-500: #00be13;
$green-700: #00a110;

$red-100: #fdf5f5;
$red-500: #f83f23;
$red-600: #eb130f;
$red-700: #db260a;

$orange-100: #fff8e7;
$orange-500: #ffba11;
$orange-700: #ff851b;

$yellow-500: #ffdc00;

$blue-200: #eff9ff;
$blue-400: #7fdbff;
$blue-600: #337ab7;
$blue-700: #0a568d;

$purple-100: #f1efff;
$purple-300: #a195ef;
$purple-600: #4b19d5;
$purple-700: #2d2081;

$pink-100: #ffedf9;
$pink-400: #f198d3;
$pink-700: #921f6b;
$pink-800: #85144b;
